.mobile-screen {
  position: relative;
  border-radius: 28.864px;
  background: grey;
  box-shadow: -1.6781489849090576px 0px 4.027557849884033px -2.517223834991455px #212121 inset, 0px -0.8390744924545288px 3.3562979698181152px 0px #212121 inset;
  width: 500px;
  height: 1000px;
  flex-shrink: 0;
  border-width: 30px;
  border-color: black!important;
  }

  button{
    position: absolute;
    display: flex;
    padding: 8px;
    gap: 10px;
    border-radius: 4px;
    background: #FFF;
    font-weight: bold;
  }



  
  
  
  