/* Form.css */
.container1{
  display: flex;

  border-radius: 20px;
  background-color: #efecec;
  height: 1000px;
  width: 1000px;
  align-content: space-between;
}

form {
    display: flex;
    flex-direction: column; 
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input,
  textarea,
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 16px;
  }
  