/* Form.css */
.container1{
  display: flex;
  
  border-radius: 20px;
  background: var(--grey-200, #F5F5F5);
  height: 1000px;
  width: 1000px;
  align-content: space-between;

}

form {
    display: flex;
    flex-direction: column;
    font-weight:bold;
    font-size: xx-large ;
    margin: 60px;
  }


  label,input{
    display:flex;
    flex-direction:column;
    margin-bottom: 8px;
  }
  

  
input,
select {
  border: 1px solid #e2dfdf;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 16px;
  width: 400px;
  height: 40px;
}


  